h1 {
  text-align:center;
  color:blue;
  text-decoration:underline;
  
  
  
}
hr {
 height:5px;
 background-color:black;
}

p {
  font-family:Arial;
  
  
}

body {
  background-color:gold;
  font-family:Arial;
  
  
  
  
}
