h1 {
  text-align:center;
  font-size:40pt;
  font-family:Verdana;
  border:10px dotted gold;
  border-radius:10px;
  color:lime;

  
  
}
h2 {
  font-size:30px;
  font-family:Arial;
  text-align:center;
  
  
  
  
}
body {
  background:blue;
  font-family:Arial;
  color:white;
  
  
  
}
img {
  width:550px;
  
  
  
}
