h1 {
  text-align:center;
  font-size:40pt;
  font-family:Verdana;
  border:10px dotted gold;
  border-radius:10px;
  color:lime;

  
  
}
h2 {
  font-size:45px;
  font-family:Verdana;
  text-align:center;
  
  
  
  
}
body {
  background:navy;
  font-family:Verdana;
  color:white;
  
  
  
}
img {
  width:500px;
  border:8px solid gold;
  border-radius:50px;
  
  
  
}
