div {
  text-align: center;
  overflow: hidden;
  border: 5px dotted gold;
  width: 500px;
  background:red;
  font-family:Arial;
  border-radius:50px;
}
img {
width:100px; 
border:2px dotted gold;
padding:10px;
border-radius:10px;
  
}
h1{
  font-family:Impact;
  font-size:40px;
  margin:10px;
  text-decoration:underline;

  
  
  
}
